apiVersion: apps/v1
kind: Deployment
metadata:
  name     : falcon-project-deployment
  namespace: staging
  labels:
    app : falcon-k8s-application 
spec:
  selector:
    matchLabels:
      project: falcon-project
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        project: falcon-project
    spec:
      containers:
        - name : falcon-project-webapp
          image: falkonz/web-app:v1
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:                                 
              cpu: 200m
              memory: 128Mi
           
---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name     : falcon-autoscaling-pod
  namespace: staging
spec:
  scaleTargetRef:
    apiVersion: apps/v2beta2v2
    kind: Deployment
    name: falcon-project-deployment
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource: 
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target: 
        type: Utilization
        averageUtilization: 80
